<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mpsd2groupassignment">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MPSD2GroupAssignment"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegistrationActivity"/>

        <activity
            android:name=".ReadingCorner"
            android:fontFamily="sans-serif-condensed-medium"
            android:label="Reading Corner"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Profile"
            android:fontFamily="sans-serif-condensed-medium"
            android:label="Profile"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".DementiaSymptoms"
            android:fontFamily="sans-serif-condensed-medium"
            android:label="Dementia Symptoms"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CommunicationTips"
            android:fontFamily="sans-serif-condensed-medium"
            android:label="Communication Tips"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".DealingTips"
            android:fontFamily="sans-serif-condensed-medium"
            android:label="Dealing with Troubling Behavior"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Certification"
            android:fontFamily="sans-serif-condensed-medium"
            android:label="Certification"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>